/*
 * File: Main.css
 * Names: Robert Durst, Yi Feng, Melogy Mao, Danqing Zhao
 * F18 CS361 Project 2
 * Style spread sheet for Main.java
 * Date: 09/18/2018
 */

/* style of Hello button */
#helloButton {
	/* set button color to pink */
    -fx-background-color:#8be77c; 
    /* set button border to black */
    -fx-border-color: black; 
    /* set button border to bold */
    -fx-border-radius: 5; 
}

/* style of Goodbye button */
#goodbyeButton {
	/* set button color to blue */
    -fx-background-color:#f9afc2; 
    /* set button border to black */
    -fx-border-color: black;
    /* set button border to bold */
    -fx-border-radius: 5; 
}